.sidebar {
	background-color: blue;
	width: 180px;
	height: 100%;
}
.year{
	width: 60px;
}
.inputs{
	display: inline;
	/*font-size: 1.5em;*/
}
.gastos{
	width: 200px;
	display: inline;
}

.verde {
  color: green;
}
.rojo {
  color: red;
}
.subrayado {
  text-decoration: underline;
}
.negrita {
	font-weight: bold;
}