.login-screen{
  	background-color: #D3D3D3;
    padding: 10px;
	width: 300px;
  	margin: 0 auto;
    border-radius: 5px;
    margin-top: 50px;
}
  
h2{
	text-align: center;
    margin-top: 0px;
}
  
.pass{
	margin-top: 10px;
}
.sidebar {
	background-color: blue;
	width: 180px;
	height: 100%;
}
.year{
	width: 60px;
	display: table-cell;
	-moz-appearance: textfield;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: #555;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

/* Listado de años */
#years{ 
	font-size: 1.3em;
}

.year:focus{
	border-color: #66AFE9;
outline: 0px none;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.input-group .form-control select{
	width: 100px;
}

.inputs{
	display: inline;
	/*font-size: 1.5em;*/
}
.inputgastos{
	width: 150px;
	display: inline;
}

.addgasto{
	width: 140px;
}

.ingreso{
	width: 120px;
}

.verde {
  color: green;
}
.rojo {
  color: red;
}
.subrayado {
  text-decoration: underline;
}
.negrita {
	font-weight: bold;
}

.nopadding{
   padding: 0 !important;
   margin: 0 !important;
}

.big-box,
.mini-box {
    background-color: #10BCFF;
    color: white;
    text-align: center;
    margin: 2px;
    font-size: 1.5em;
}
.big-box {
    height: 65px
}
.mini-box {
    height: 30px
}