<div class="col-md-12">
	<div class="row">
		<div class="control-group" id="fields">
			<label class="control-label" for="gastoConcepto">
				Altas y bajas de Conceptos de gastos
			</label>
			<div class="controls">
				
				<form role="form" autocomplete="off">
					<div class="entry input-group col-xs-9">
						<!--Añadido de gastos-->
						<input name="gastoConcepto" type="text" class="form-control inputs" placeholder="Introduce un concepto de gasto" ng-model="dias.gastoConcepto" required>
						
						<span class="input-group-btn">
							<button ng-disabled="!dias.gastoConcepto" type="button" class="btn btn-success btn-md" ng-click="dias.nuevoGastoConcepto(dias.gastoConcepto)">
	    					<span class="glyphicon glyphicon-plus"></span>
	  					</button>
						</span>
						<!--FIN Añadido de gastos-->

						<!--Eliminación de gastos-->
						<!--
						”valor as etiqueta for item in items track by claveunica”

						items: La propiedad del $scope que contiene el array de elementos a mostrar en el <select>.
						item: Es la declaración de una variable que contendrá cada uno de los elementos de items. Este valor puede ser cualquier texto que decidamos.
						valor: Una expresión que use la variable item que será el valor que se asignará al modelo del <select>. En nuestro caso será el objeto entero.
						etiqueta: Una expresión que use la variable item que será la etiqueta que se mostrará en cada uno de los <option>.
						claveunica: La propiedad que es clave única.
						
						gasto.$value = valor de la clave
						gasto.$id = clave
						-->
						<select 
					  	class="form-control gastos"
					  	ng-model="dias.gestoSeleccionado" 
					  	ng-change="" 
					  	ng-options="gasto as gasto.$value for gasto in dias.gastosConceptos track by gasto.$id">
					 	</select>
					 	
					 	<span class="input-group-btn">
							<button 
								ng-disabled="!dias.gestoSeleccionado" 
								type="button" 
								class="btn btn-danger btn-md" 
								ng-click="dias.borrarGastoConcepto(dias.gestoSeleccionado)">
	    					<span class="glyphicon glyphicon-remove"></span>
	  					</button>
						</span>
						<!--FIN Eliminación de gastos-->
					</div>
					
				</form>
			</div>
			<div class="rojo" ng-hide="dias.gastosConceptos.length">No hay ningún concepto de gasto</div>
			<div class="rojo" ng-show="dias.showGastoMensaje">{{dias.gastoMensaje}}</div>
		</div>
	</div>
</div>
Gastos:<br>
{{dias.gastosConceptos}}


<!-- <form name="gastosForm" role="form" novalidate >
	<div class="form-group">
		<select 
	  	class="form-control gastos"
	  	ng-model="dias.gestoSeleccionado" 
	  	ng-change="" 
	  	ng-options="unMes as unMes.mes for unMes in year.meses track by unMes.id">
	 	</select>

		<input name="gastoConcepto" type="text" class="form-control inputs" placeholder="Introduce un concepto e gasto a dar de alta" ng-model="dias.gastoConcepto" required>
	  
	  <button ng-disabled="!dias.gastoConcepto" type="button" class="btn btn-success btn-md" ng-click="dias.nuevoGastoConcepto()">
	    <span class="glyphicon glyphicon-plus"></span>
	  </button>
	  
	  <a href="#" ng-click="year.borrarAnio(anio.$id)"><span class="glyphicon glyphicon-remove rojo"></span></a>

	</div>
  
</form> -->