<div ui-view="menu"></div>
<!-- <div class="container-fluid"> -->
<div class="container-fluid">
	<div ui-view="lateral" class="col-sm-3 col-md-3 col-lg-3 lead"></div>
	<div ui-view="home" class="col-sm-9 col-md-9 col-lg-9 lead"></div>
</div>