
<h4>Semana del {{dias.semana.desde| date:'d'}} de {{dias.semana.desde| date:'MMMM'}} al 
{{dias.semana.hasta| date:'d'}} de {{dias.semana.hasta| date:'MMMM'}} 
de {{dias.semana.hasta| date:'yyyy'}}
</h4>

<ng-include src="'views/gastos.html'"></ng-include>

<p>$scope.dias.semana: {{dias.semana}}</p>