<div class="text-center">
  <form name="yearForm" role="form" novalidate >
    <div class="form-group">
      <label for="year" class="alert alert-warning" ng-show="year.mensaje">{{year.mensaje}}</label>
      <input name="year" type="text" class="year inputs input-md text-center" placeholder="Año" ng-model="year.year" ng-pattern="/^\d{4}/" required>
      <button ng-disabled="!year.year" type="button" class="btn btn-success btn-md" ng-click="year.newYear()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
    </div>
  </form>

  <!-- Años dados de alta por el usuario -->
  <div ng-show="year.showYears">
    <div class="text-center" ng-repeat="(id,anio) in year.anios">
      <!--<tr ng-repeat="(id, name) in year.datos">-->
      <!-- <a href="#" ng-click="year.mostrarMeses(anio.label)">{{anio.label}}</a> -->
      <a href="#" ng-click="year.mostrarMeses(anio.$id)">{{anio.$id}}</a>
      <a href="#" ng-click="year.borrarAnio(anio.$id)"><span class="glyphicon glyphicon-remove rojo"></span></a>
      <br/>
    </div>
  </div>


  <!-- Select de los meses que hay en un año -->
  <div ng-show="year.showMeses">
    <a class="verde subrayado negrita" href="#" ng-click="year.mostrarAnios()">&#60;&#60; {{year.anioSeleccionado}}</a><br/>
    <!-- <select ng-model="year.mesSeleccionado" ng-options="o as o for o in year.meses"></select> -->
    <select ng-model="year.mesSeleccionado" ng-change="year.mostrarSemanas()" ng-options="unMes as unMes.mes for unMes in year.meses track by unMes.id"></select>
    <!-- <p>{{year.mesSeleccionado.id}}</p> -->
  </div>

  <!-- Rango de semanas que hay en cada de mes seleccionado del año elegido -->
  <div ng-show="year.showSemanas">
    <a class="verde subrayado negrita" href="#" ng-click="year.mostrarAnios()">&#60;&#60; {{year.anioSeleccionado}}</a>
    <a class="verde subrayado negrita" href="#" ng-click="year.mostrarMeses(year.anioSeleccionado)">
      &#60;&#60; {{year.mesSeleccionado.mes}}</a><br/>

    <div ng-repeat="(id, semana) in year.semanas">
      <a
        ui-sref="dias({anio: year.anioSeleccionado, mes: year.mesSeleccionado.id, semana: id})"
        ng-click="year.mostrarDias(id)">
        {{semana.desde| date:'dd/MM/yyyy'}} - {{semana.hasta| date:'dd/MM/yyyy'}}
      </a>
    </div>
  </div>

</div>
