<div class="container">
	<form class="form-signin" name="signinForm" role="form">
		<h2>Formulario de entrada</h2>
		
		<div class="form-group" ng-class="{ 'has-error' : signinForm.email.$invalid }">
	    <label>Email</label>
	    <input type="email" name="email" class="form-control" placeholder="e-mail" ng-model="user.email">
	    <p class="help-block" ng-show="signinForm.email.$invalid">Enter a valid email.</p>
		</div>
		
		<div class="form-group" ng-class="{ 'has-error' : signinForm.password.$invalid }">
	    <label>Password</label>
	    <input type="password" name="password" class="form-control" placeholder="Contraseña" ng-model="user.password" ng-minlength="3">
	    <p class="help-block" ng-show="signinForm.password.$error.minlength">Contraseña con poca longitud</p>
		</div>
		
		<button ng-disabled="!user.email || !user.password" type="button" ng-click="SignIn($event)" class="btn btn-lg btn-primary btn-block">Entrar</button>
		<button ng-disabled="!user.email || !user.password" type="button" ng-click="Register()" class="btn btn btn-danger btn-block">Registrar</button>
		
		<p class="help-block has-error rojo" ng-show="errorLogin">Usuario o contraseña incorrectos.</p>
		<p class="help-block has-error rojo" ng-show="regError">{{regErrorMessage}}</p>
	</form>
</div>