<div class="col-sx-12">
	<h2>Estadisticas del año {{anio}}</h2>
	
	<!-- <canvas ng-init="estadisticas()" id="skills" width="300" height="300"></canvas> -->
	<canvas ng-init="estadisticas()" id="skills"></canvas>
</div>

