
<div class="row">
	<div class="control-group" id="fields">
		<div class="text-center">
			<label class="control-label" for="gastoConcepto">Altas y bajas de Conceptos de gastos</label>
		</div>		

		<div class="controls">
			<form name="frmGastosConceptos" role="form" autocomplete="off">
				<!--Añadido de gastos-->
				<div class="col-md-6 col-sx-12">
					<div class="entry input-group">
					
						<input name="gastoConcepto" type="text" class="form-control" placeholder="Introduce un concepto de gasto" ng-model="dias.gastoConcepto" required>

						<span class="input-group-btn">
							<button ng-disabled="!dias.gastoConcepto" type="button" class="btn btn-success btn-md" ng-click="dias.nuevoGastoConcepto(dias.gastoConcepto)">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
						</span>	

					</div>
					<div class="text-center rojo" ng-hide="dias.gastosConceptos.length">No hay ningún concepto de gasto</div>
					<div class="text-center rojo" ng-show="dias.showGastoMensaje">{{dias.gastoMensaje}}</div>
				</div><!--FIN añadido de gastos-->

				<!--Select de eliminación de gastos-->
				<div class="col-md-6 col-sx-12">
					<div class="entry input-group">
						
						<select 
							class="form-control"
							ng-model="dias.gastoSeleccionado" 
							ng-change="" 
							ng-options="gasto as gasto.$value for gasto in dias.gastosConceptos track by gasto.$id">
						</select>

						<span class="input-group-btn">
							<button 
							ng-disabled="!dias.gastoSeleccionado" 
							type="button" 
							class="btn btn-danger btn-md" 
							ng-click="dias.borrarGastoConcepto(dias.gastoSeleccionado)">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</span>

					</div>
				</div><!--FIN Eliminación de gastos-->

				
				

			</form>
		</div>
	</div>
</div>
<br>
<div class="text-center">
	<button type="button" class="btn btn-success" ng-click="dias.ocultarGastos()">Cerrar</button>
</div>


