<div class="nopadding">
	<div ng-show="dias.showMensaje"><h1>{{dias.mensaje}}</h1></div>
	<div ng-show="dias.showDias" class="text-center">
		<h4 class="text-center">Semana del {{dias.semana.desde| date:'d'}} de {{dias.semana.desde| date:'MMMM'}} 
		al {{dias.semana.hasta| date:'d'}} de {{dias.semana.hasta| date:'MMMM'}} 
		de {{dias.semana.hasta| date:'yyyy'}}</h4>

		<button type="button" class="btn btn-default" ng-show="dias.showGastosBtn" ng-click="dias.mostrarGastos()">Gastos</button>
		<button ui-sref="estadistica({anio: dias.anio})" type="button" class="btn btn-info">Estadísticas</button>

	</div>

	<!-- Administración de los ng-click="mostrarGastos()" Gastos de gasto -->
	<div ng-show="dias.showGastos">
		<ng-include src="'views/gastos.html'"></ng-include>
	</div>

	<table ng-show="dias.mostrarTodo" class="table nopadding">
	  <thead>
	    <tr>
	    	<th></th>
	      <th><span class="text-primary">{{dias.totalIngresos - dias.totalGastos| currency}}</span></th>
	      <th>Ingresos (<span class="text-left text-success">{{dias.totalIngresos| currency}}</span>)</th>
	      <th>Gastos (<span class="text-left text-danger">{{dias.totalGastos| currency}}</span>)</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="(id,dia) in dias.dias">

	      <td>
	      	<button 
						type="button" 
						class="btn btn-danger btn-xs" 
						ng-click="dias.resetDia(id)">
  					<span class="glyphicon glyphicon-remove"></span>
					</button>
				</td>

	      <td >
	      	<div>	      		
						<strong>{{dia.dia |date:'EEEE'}}:</strong> <br>
						{{dia.dia |date:'shortDate'}}
	      	</div>
	      </td>

				<!-- Ingreso -->
	      <td>
	      	<form name="frmIngreso" role="form" autocomplete="off" novalidate>
	      			<div class="row">
	      				<div class="control-group" id="fields">
	      					<div class="controls"> 
      							<div class="entry input-group ingreso">
      								
      								<input class="form-control text-right" name="ingreso" type="number" placeholder="Ingreso" ng-model="dia.ingreso"/>
      								
      								<span class="input-group-btn">
      									<button ng-disabled="frmIngreso.ingreso.$error.number" class="btn btn-success btn-add" type="button" ng-click="dias.nuevoIngreso(dia.ingreso,id)">
      										<span class="glyphicon glyphicon-plus"></span>
      									</button>
      								</span>
											
      							</div>
      							<span class="rojo" ng-show="frmIngreso.ingreso.$error.number">Número no válido</span>
	      					</div>
	      				</div>
	      			</div>
      			</form>
	      </td>

				<!-- Gastos -->
	      <td>

	      	<div class="row">
	      		<div class="col-md-4">

							<table>
								<tr ng-repeat="(idgasto,gasto) in dia.gastos">
									<td>{{gasto.concepto}}: </td>
									<td ng-init="temp = temp + gasto.importe" class="text-right">{{gasto.importe| currency}}</td>
									<td><a href="#" ng-click="dias.borrarGasto(id,idgasto)"><span class="glyphicon glyphicon-remove rojo">
									</span></a>
									</td>
								</tr>
								<tr>
									<td><strong>Total Gasto: </strong></td>
									<td class="text-center"><strong>{{dia.totalGastos| currency}}</strong></td>
									<td></td>
								</tr>
							</table>

	      		</div>
	      		<form name="frmGastos" role="form" autocomplete="off" novalidate>
	      			<div class="col-md-7">
		      			<div class="row">
		      				<div class="col-md-12">

		      					<select 
									  	class="form-control input-small"
									  	ng-model="dias.gastoSeleccionado2[id]"
									  	ng-options="gasto as gasto.$value for gasto in dias.gastosConceptos track by gasto.$id">
									 	</select>

		      				</div>
		      				<div class="col-md-12">

		      					<div class="control-group" id="fields">
			      					<div class="controls">
			      						<div class="entry input-group">

			      							<input class="form-control text-right ingreso" name="gasto" type="number" placeholder="gasto" ng-model="dias.gasto[id]"/>

			      							<span class="input-group-btn">
			    									<button ng-disabled="!dias.gastoSeleccionado2 || !dias.gasto" class="btn btn-danger btn-add" type="button" ng-click="dias.nuevoGasto(id)">
			    										<span class="glyphicon glyphicon-plus"></span>
			    									</button>
			    								</span>

			      						</div>
			      						<span class="rojo" ng-show="frmGastos.gasto.$error.number">Número no válido</span>
			      					</div>
			      				</div>
			      				
		      				</div>
		      			</div>
		      		</div>
	      		</form>
	      	</div>
	      
	      </td>
	    </tr>
	  </tbody>
    <tfoot>
		  <tr>
		    <td></td><td></td>
		    <td>
		    	<strong class="text-right">Ingresos: </strong><br>
		    	<h2 class="text-success">{{dias.totalIngresos| currency}}</h2>
		    </td>
		    <td>
		    	<strong>Gastos: </strong>
		    	<h2 class="text-left text-danger">{{dias.totalGastos| currency}}</h2>
	    	</td>
		    
		  </tr>
		</tfoot>
	</table>

</div>

