<!-- <div class="panel panel-primary text-center"> -->
<div class="text-center">

  <div>
    <button ng-show="year.btnShowYearForm" type="button" class="btn-danger btn btn-default" ng-click="year.showYearForm = true;year.btnShowYearForm = false">Nuevo año</button>
  </div>

	<!-- Formulario para agregar años -->
  <div class="rojo" ng-show="year.mensaje">{{year.mensaje}}</div>

	<form ng-show="year.showYearForm" name="yearForm" role="form" autocomplete="off" novalidate>
    <div>    
      <div class="rojo" ng-show="yearForm.year.$error.number">Número no válido</div>
    </div>
		

		<input id="anio" name="year" type="number" class="text-center year" placeholder="Año" ng-model="year.year" ng-pattern="/^\d{4}/" required>
		
    <button ng-disabled="!year.year || yearForm.year.$error.number || year.year > 9999" type="button" class="btn btn-success btn-md" ng-click="year.newYear(year.year);">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>

	</form><br>

	<!-- Listado de los años dados de alta -->
	<div ng-show="year.showYears">
		<div id="years" class="text-center" ng-repeat="(id,anio) in year.anios">
	    <a href="#" ng-click="year.mostrarMeses(anio.$id)">{{anio.$id}}</a>&nbsp;&nbsp;&nbsp;
	    <a href="#" ng-click="year.borrarAnioConfirmacion(anio.$id)"><span class="glyphicon glyphicon-remove rojo"></span></a>
	    <br/>
	  </div>
	</div>
	
	<!-- Diálogo para eliminar los años -->
	<div ng-show="year.showYearsDelete">
		<p>
		  <button class="btn btn-success " type="button" ng-click="year.comprobarAnios()">Cancelar</button>
		  <button class="btn btn-mini btn-danger" type="button" ng-click="year.borrarAnio(year.yearDelete)">Borrar</button>
		</p>
	</div>
	
	<!-- Select de los meses que hay en un año -->
  <div ng-show="year.showMeses">
    <a class="verde subrayado negrita" href="#" ng-click="year.comprobarAnios()">&#60;&#60; {{year.anioSeleccionado}}</a><br/>
    <!-- <select ng-model="year.mesSeleccionado" ng-options="o as o for o in year.meses"></select> -->
    <!-- 
    ”valor as etiqueta for item in items track by claveunica” 

    items:La propiedad del $scope que contiene el array de elementos a mostrar en el <select>.
		item:Es la declaración de una variable que contendrá cada uno de los elementos de items. Este valor puede ser cualquier texto que decidamos.
		valor: Una expresión que use la variable item que será el valor que se asignará al modelo del <select>.
		etiqueta: Una expresión que use la variable item que será la etiqueta que se mostrará en cada uno de los <option>.
		claveunica: La propiedad que es clave única.
    -->
    <!--ng-options="unMes as unMes.mes for unMes in year.meses"-->
    <select 
    	ng-model="year.mesSeleccionado" 
    	ng-change="year.mostrarSemanas(year.mesSeleccionado.id)" 
    	
    	ng-options="unMes as unMes.mes for unMes in year.meses track by unMes.id">
    </select>
    <!-- <p>{{year.mesSeleccionado.id}}</p> -->
  </div>

  <!-- Rango de semanas que hay en cada de mes seleccionado del año elegido -->
  <div ng-show="year.showSemanas">
    <a class="verde subrayado negrita" href="#" ng-click="year.comprobarAnios()">
    	&#60;&#60; {{year.anioSeleccionado}}</a>
    <a class="verde subrayado negrita" href="#" ng-click="year.mostrarMeses(year.anioSeleccionado)">
      &#60;&#60; {{year.mesSeleccionado.mes}}</a><br/>

    <div ng-repeat="(id, semana) in year.semanas">
      <a
        ui-sref="dias({anio: year.anioSeleccionado, mes: year.mesSeleccionado.id, semana: id})"
        ng-click="year.mostrarDias(id)">
        {{semana.desde| date:'dd/MM/yyyy'}} - {{semana.hasta| date:'dd/MM/yyyy'}}
      </a>
    </div>
  </div>
<!--
<p>year.anioSeleccionado: {{year.anioSeleccionado}}</p>
<p>year.mesSeleccionado: {{year.mesSeleccionado}}</p>
<p>year.semanaSeleccionada: {{year.semanaSeleccionada}}</p>
-->
	
</div>

