<div class="login-screen">
  <h2>Entrar</h2>

	<form class="form-signin" name="signinForm" role="form">
		
		<div class="input-group name" ng-class="{ 'has-error' : signinForm.email.$invalid }">
			<span class="input-group-addon" id="basic-addon1">@</span>
			<input name="email" class="form-control" placeholder="email" aria-describedby="basic-addon1" type="email" ng-model="user.email">
	  </div>
	  <p class="rojo" ng-show="signinForm.email.$invalid">Introduce un email correcto.</p>
		
		<div class="input-group pass" ng-class="{ 'has-error' : signinForm.password.$invalid }">
			<span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-link"></i></span>
			<input name="password" class="form-control" placeholder="Contraseña" aria-describedby="basic-addon1" type="password" ng-model="user.password" ng-minlength="3">
	  </div>
	  
	  <p class="rojo" ng-show="signinForm.password.$error.minlength">Contraseña con poca longitud</p>
	  <br />
  	<button ng-disabled="!user.email || !user.password" type="button" ng-click="SignIn($event)" class="btn btn-lg btn-primary btn-block">Entrar</button>
		<button ng-disabled="!user.email || !user.password" type="button" ng-click="Register()" class="btn btn btn-danger btn-block">Registrar</button>

	</form>
	<!--<div class="rojo" ng-show="showErrorLogin">{{errorLogin}}</div> -->
	<div class="rojo" >{{errorLogin}}</div>
</div>