<div class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/home">Inicio</a>
		</div>
		<center>
			<div class="navbar-collapse collapse" id="navbar-main">
				<ul class="nav navbar-nav">
					<li><a href="presentacion">Presentación</a></li>
					</li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
          <li class="nav-bar-text"><a href="#">Conectado como: {{user.email}}</a></li>
          <li class="nav-bar-text"><a href="#" ng-click="Logout()">Salir</a></li>  
        </ul>
			</div>
		</center>
	</div>
</div>